<% content_for :title do %>
	<%=h @tutorial.title %> - Tutorials
<% end %>

<div id='page'>

  <h1>
    <%=h @tutorial.title %>
  </h1>

  <p>
    <%= @tutorial.content %>
  </p>

  <div id='meta'>
    <b>Author:</b>
    <%=h @tutorial.administrator.username %>
  </div>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'jsgametuts'; // required: replace example with your forum shortname
    var disqus_identifier = '<%= @tutorial.url_friendly %>';
    var disqus_url = 'http://www.jsgametuts.com/tutorials/<%= @tutorial.url_friendly %>';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>