<h2>Changing administrator password</h2>

<% form_for(@administrator, :as => :post, :url => "/backend/administrators/#{@administrator.id}/update_password/") do |f| %>
<%= f.error_messages %>
  
<ul>
  <li>
	  <%= f.label :password %>
	  <%= f.password_field :password %>
  </li>
  <li>
	  <%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
	</li>
</ul>  

<%= f.submit 'Update', :class=>'submit' %>

<% end %>

<%= link_to 'Back', "/backend/administrators" %>