<ul>
	<li class='first'>
		<%= link_to "Home", :controller => 'frontend' %>
	</li>
	<li>
		<%= link_to "News", "/news" %>
	</li>
	<li>
		<%= link_to "Tutorials", "/tutorials" %>
	</li>
	<li>
		<%= link_to "Contact", "/contact" %>
	</li>
	<li class='last'>
		<%= link_to "Backend", "/backend" %>
	</li>
</ul>